
  <!-- Call to Action -->
  <section class="bg-gray-900 py-16 text-gray-400">
    <div class="container mx-auto px-5">
      <div class="bg-gray-800 p-16 rounded-lg w-full mx-auto">
        <h2 class="text-2xl font-bold mb-5 text-center text-white">Experience the Developer Console</h2>
        <form id="early-access" class="flex m-10 items-center justify-center">
          <input type="email" class="bg-white p-4 text-gray-900 rounded mr-5 w-64" name="email"
            placeholder="Enter your email address here" />
          <button class="p-4 fireproof text-white font-medium rounded-lg outline focus:outline-none">
            Request Early Access
          </button>
        </form>
        <p class="mt-10 text-center text-xl">
          Fireproof is free to use and scale. Access advanced features with credit card verification.
        </p>
      </div>
    </div>
  </section>