<!-- Footer -->
<footer class="fireproof py-5 mt-12">
  <div class="container mx-auto px-5">
    <ul class="flex">
      <li class="mr-6">
        <a href="https://twitter.com/FireproofStorge">Twitter</a>
      </li>
      <li class="mr-6">
        <a href="https://github.com/fireproof-storage/fireproof">GitHub</a>
      </li>
      <!-- <li class="mr-6">
            <a href="#">TikTok</a>
          </li>
          <li class="mr-6">
            <a href="#">Discord</a>
          </li>
          <li class="mr-6">
            <a href="#">Stack Overflow</a>
          </li> -->
    </ul>
    <h1 class="font-bold text-center mt-10 mb-5">
        Local • Immutable • Distributed <br/>
        Realtime • Verifiable • Cloudless
      </h1>
    <img class="mx-auto py-10" src="/static/img/logo-animated.svg" alt="Fireproof Logo" style="width: 80%"/>
  </div>
</footer>