<!-- Menu -->
<a href="#">
  <img src="{{ '/static/img/logo-animated.svg' | url }}" alt="Fireproof Logo" style="height: 64px; width: auto"/>
</a>
<nav class="nav-menu">
  <ul class="flex">
    <li class="mr-8">
      <a href="/docs/">Documentation</a>
    </li>
    <!-- <li class="mr-8">
          <a href="#" class="px-4 py-2 fireproof text-white font-medium rounded-lg outline focus:outline-none">
            Get Started Free</a>
        </li> -->
  </ul>
</nav>