
  <!-- Social Proof -->
  <section class="pb-48 md:px-64">
    <div class="container mx-auto px-5 text-gray-400">
      <h2 class="text-4xl font-bold mb-24 text-center">Friends of Fireproof</h2>

      <div class="relative">
        <div class="absolute top-0 left-0 w-full h-full rounded blurbblur"></div>
        <p class="z-10 relative text-2xl">
          Learn how people are saving costs and innovating with new business models. Fireproof's advanced database
          capabilities and easy front-end installation make it a tool of choice for early adopters.
          <strong> You know you want to be on the cube! </strong>
          <a href="mailto:jchris@fireproof.storage">Email the project lead</a> or direct message
          <a href="https://twitter.com/FireproofStorge">Fireproof Storage on Twitter</a> to get featured.
        </p>
      </div>
    </div>

    <div class="cubeContainer container pt-32 mb-32">
      <div id="cube">
        <div class="h-64 w-64 face front">
          <div class="p-5 rounded bg-white text-gray-700">
            <div class="flex">
              <!-- <img src="/static/img/proof/people-jchris.jpg" alt="Screenshot 1" class="h-48 w-48 mr-5" /> -->
              <div class="justify-around items-center">
                <p class="mt-5 text-sm strong">J. Chris Anderson</p>
                <img src="/static/img/proof/people-jchris.jpg" alt="Customer 1" class="mt-5 h-24 w-24 float-right rounded-full" />
                <p class="mt-5 text-xs italic ">
                  Fireproof creator, previously co-founded <a href="https://www.couchbase.com">Couchbase</a>. Building
                  distributed
                  databases since 2009.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="h-64 w-64 face back">
          <div class="p-5 rounded bg-white">
            <div>
              <!-- <img src="/static/img/proof/quotes-" alt="Screenshot 3" class="max-h-64 w-64 mr-5" /> -->
              <div>
                <img src="/static/img/proof/people-damien.jpg" alt="Customer 1" class="h-32 w-32 mt-6 float-right rounded-full" />
                <p class="text-gray-700 text-sm strong mt-5 ">Damien Katz</p>
                <p class="text-gray-700 text-xs italic">Advisor</p>
                <p class="text-gray-700 text-xs italic">Erlanger of the Year, creator of <a
                    href="https://couchdb.apache.org">CouchDB</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="h-64 w-64 face right">
          <div class="p-5 rounded bg-white">
            <div>
              <img src="/static/img/proof/quotes-jv2.jpeg" alt="Screenshot 3" class="max-h-64 w-64 mr-5" />
              <div>
                <img src="/static/img/proof/people-jnthnvictr.png" alt="Customer 1" class="h-28 w-28 mt-6 float-right rounded-full" />
                <p class="text-gray-700 text-sm strong mt-5 ">Jonathan Victor</p>
                <p class="text-gray-700 text-xs italic">Advisor</p>
                <p class="text-gray-700 text-xs italic">Web3 Maven - Protocol Labs</p>
              </div>
            </div>
          </div>
        </div>
        <div class="h-64 w-64 face left">
          <div class="p-5 rounded bg-white">
            <div>
              <img src="/static/img/proof/quotes-nuno.png" alt="Screenshot 2" class="max-h-48 w-48" />
              <div>
                <img src="/static/img/proof/people-nuno.jpeg" alt="Customer 1" class="mt-5 h-28 w-28 float-right rounded-full" />
                <p class="text-gray-700 text-sm strong mt-5">Nuno Job</p>
                <p class="text-gray-700 text-xs italic">Advisor</p>
                <p class="text-gray-700 text-xs italic">Co-founder at <a href="https://www.decipad.com">Decipad</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="h-64 w-64 face top">
          <div class="p-5 rounded bg-white">
            <div>
              <img src="/static/img/proof/quotes-brian.png" alt="Screenshot 3" class="max-h-64 w-64 mr-5" />
              <div>
                <img src="/static/img/proof/people-brian.jpg" alt="Customer 1" class="h-28 w-28 mt-6 float-right rounded-full" />
                <p class="text-gray-700 text-sm strong mt-5 ">Brian LeRoux</p>
                <p class="text-gray-700 text-xs italic">Advisor</p>
                <p class="text-gray-700 text-xs italic">Creator of <a href="https://begin.com">Begin.com</a> and <a
                    href="https://enhance.dev/docs/">Enhance</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="h-64 w-64 face bottom">
          <div class="p-5 rounded bg-white">
            <div>
              <div>
                <p class="text-gray-700 mt-5 text-sm ">
                  <img src="/static/img/proof/people-mikeal.jpg" alt="Customer 6" class="mt-5 h-28 w-28 float-right rounded-full" />
                  <p class="text-gray-700 text-sm strong mt-5 ">Mikeal Rogers</p>
                  <p class="text-gray-700 text-sm italic">Advisor</p>
                <p class="text-gray-700 text-sm italic">Creator of NodeConf, request, and PouchDB</p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>