<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}
	<body class="bg-gray-900 text-white">
		<header class="bg-gray-800 py-4 px-5 flex items-center justify-between">
			{% include "components/nav.njk" %}
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>
		{% include "components/footer.njk" %}
	</body>
	{% set js %}
	{% include "assets/js/prism.min.js" %}
	{% include "assets/js/inline.js" %}
	{% endset %}
	<script>
		{{ js | jsmin | safe }}
	</script>
</html>