---
layout: layouts/base.njk
section: home
---
{% include "components/hero.njk" %}

{% include "components/npm.njk" %}

{% include "components/quick-start.njk" %}

{% include "components/features.njk" %}

{% include "components/cta.njk" %}

{% include "components/social-proof.njk" %}


{{ layoutContent | safe }}
