---
layout: layouts/base.njk
section: post
---

{% include "components/npm.njk" %}


<article class="post text-gray-200 feature-grid pt-10 px-4 sm:px-12 lg:px-32 text-xl">
  <h1 class="text-4xl font-bold my-12 text-center">{{ title }}</h1>
  <p class="byline">
    <small>
      <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
    </small>
  </p>

  {{ layoutContent | safe }}

  {% if tags %}
    <p class="tags">Tagged: 
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav class="px-12 pt-4 pb-10">
  <a href="{{ '/blog/' | url }}">← more posts</a>
</nav>

{% include "components/cta.njk" %}
