---
layout: layouts/default.njk
section: post
---
  <p class="byline">
    <small>
      <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
    </small>
  </p>

  {{ layoutContent | safe }}

  {% if tags %}
    <p class="tags">Tagged: 
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}


<nav class="px-12 pt-4 pb-10">
  <a href="{{ '/blog/' | url }}">← more posts</a>
</nav>

